<a href="https://colab.research.google.com/github/imdeeptanshu/Unmessenger_deeptanshu/blob/main/Scrapping_deeptanshu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ASSINGMENT 1**
---
## **Submitted by:-** 

> ## <font color='Green'>**Deeptanshu Pandey**</font>

In [6]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
def web_scapper(N, Q, T):
    for i in range(1,11):

        url = f"http://quotes.toscrape.com/page/{i}/"

        data = requests.get(url)

        soup = BeautifulSoup(data.text, "lxml")

        div = soup.find_all("div", class_ = 'quote')

        for j in range(len(div)):
            span = div[j].find_all("span")

            Q.append(span[0].text)

            N.append(span[1].text.split('\n')[0][3:])

            div_Tag = div[j].find_all("div")

            tags = div_Tag[0].find_all("a")

            T.append(",".join([k.text for k in tags]))

        return N, Q , T

In [8]:
def to_dictionary(x, y, z):
    Scrapped_quotes = {
        'Name' : x,
        'Quotes': y,
        'Tags': z
    }

    return Scrapped_quotes

In [9]:
if __name__ == '__main__':
    names, quotes, all_tags= [ ], [ ], [ ] 

    Names, Quotes, All_Tags = web_scapper(names, quotes, all_tags)

    result  = to_dictionary(Names, Quotes, All_Tags)

In [11]:
df= pd.DataFrame(result)

In [12]:
df.head()

,Name,Quotes,Tags
0,Albert Einstein,“The world as we have created it is a process ...,"change,deep-thoughts,thinking,world"
1,J.K. Rowling,"“It is our choices, Harry, that show what we t...","abilities,choices"
2,Albert Einstein,“There are only two ways to live your life. On...,"inspirational,life,live,miracle,miracles"
3,Jane Austen,"“The person, be it gentleman or lady, who has ...","aliteracy,books,classic,humor"
4,Marilyn Monroe,"“Imperfection is beauty, madness is genius and...","be-yourself,inspirational"

In [14]:
df.to_csv("Deeptanshu_Pandey_Unmessenger_Assingment-1.csv")